body {
  color: white;
  background-image: url(images/forest.jpg);
}

a {
  color: white;
  text-shadow: 1px 1px blue;
}

strong {
  color: crimson;
}

#icon {
  width: 6%;
  height: 6%;
}

#main {
  padding-top: 5%;
  text-shadow: 2px 2px black;
}

.invalid {
  color: crimson;
}
